{% extends 'ElectrHead/base.html' %}
{% block content %}
<h2>He</h2>
    <div class="container">
        <div class="box">
            <div class="imgBx">
                <img src="images/london3.jpg">
            </div>
            <div class="content">
                <h3>Post title One</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="images/london.jpg">
            </div>
            <div class="content">
                <h3>Post title Two</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="images/bus.jpg">
            </div>
            <div class="content">
                <h3>Post title Three</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
    </div>
{% endblock content%}

